<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <object th:object="${book}"/>
    <title><th:block th:text="*{book.title}"></th:block></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand font-weight-bold" th:href="@{/}">Sadecreviewbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reviewbook/list/{id}}">Sách của tôi</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Thể loại
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/reviewbook/list/science_fiction}">Khoa học viễn tưởng</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/reviewbook/list/detective}">Trinh thám</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/reviewbook/list/novel}">Tiểu thuyết</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 font-weight-bold text-light" type="submit">Search</button>
        </form>
        <div class="col-3 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-secondary font-weight-bold" th:href="@{/reviewbook/login}">Đăng nhập</a>
            <a class="btn btn-sm btn-outline-secondary font-weight-bold" th:href="@{/reviewbook/register}">Đăng ký</a>
        </div>
    </div>
</nav>

<!--body-->

<div class="d-flex p-2">
    <div class="align-self-stretch flex-grow-1" >
        <div class="d-flex">
            <div class="card d-flex item">
                <img src="sss" alt="Book image">
                <div>
                     <a th:href="@{/list/userId/__${book.id}__}" class="btn btn-primary">Thêm vào sách của tôi</a>
                </div>
            </div>

            <div class="align-self-stretch flex-grow-1">
                <strong class="d-inline-block text-primary text-justify" th:text="*{book.title}"></strong><br/>
                <p>
                    <strong>Tác giả : </strong> <span th:text="*{book.authors}"></span>
                </p>
                <p>
                    <strong>Nội dung :</strong>
                    <p class="text-justify" th:text="*{book.content}"></p>
                </p>
                <div style="max-inline-size: max-content;margin-inline-start: auto;margin-inline-end: auto;">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Các nhà phân phối sách
                        <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{/}">Action</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container shadow-sm p-3 mb-5 bg-white rounded">
            <th:block th:each="comment : ${book.comments}">
                <div class="media text-muted pt-3">
                    <img alt="userImage" class="mr-2 rounded" style="width: 32px; height: 32px;"
                         src="abc" data-holder-rendered="true">
                    <p class="media-body small border-bottom border-gray">
                        <strong class="d-block text-gray-dark" >username</strong>
                        <span th:text="*{comment.content}"></span>
                    </p>
                </div>
            </th:block>
        </div>
    </div>
    <div class="d-flex item" style="width: 30%;">
        <ul class="list-group list-group-flush border rounded" style="width: 100%">
            <li class="list-group-item active text-primary font-weight-bold text-light">Các sách liên quan</li>
            <li class="list-group-item">
                <div class="media text-muted pt-3">
                    <img class="mr-2 rounded" style="width: 32px; height: 32px;"
                         src="abc" data-holder-rendered="true" alt="bookImage">
                    <p class="media-body pb-3 mb-0 small lh-125">
                        <strong class="d-block text-gray-dark">bookName</strong>
                        <span>Authors</span>

                    </p>
                </div>
            </li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
            <li class="list-group-item">...</li>
        </ul>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>